# ERPNext Mexico — Docker Development Environment
FRAPPE_VERSION=version-15
ERPNEXT_VERSION=version-15
SITE_NAME=erpnext-mexico.localhost
DB_ROOT_PASSWORD=change_me_root
DB_PASSWORD=change_me_db
ADMIN_PASSWORD=change_me_admin
MARIADB_HOST=mariadb
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
